<a href="https://colab.research.google.com/github/navyagithub123/Navya5F5/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x = 10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a = 5
b = 10
c = 15
print(a+b+c)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x = 10
type(x)

int

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)

15
5
50
2.0

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a = "123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
a = "rishi"
print(a[0])

r

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
a = "rishi"
print(len(a))

5

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
a = "rishi"
print(a.isalpha())

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
a = "rishi"
b = "kumar"
print(a+b)

rishikumar

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
input_string = input("Enter a string:")
substring = "abc"
index = input_string.find(substring)
if index != -1:
  print('The substring "(substring)" not found in the input string.')

Enter a string:xyzabc
The substring "(substring)" not found in the input string.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
input_string = input("Enter a string:")
uppercase_string = input_string.upper()
lowercase_string = input_string.lower()
print(f"Original String: {input_string}")
print(f"Uppercase String: {uppercase_string}")
print(f"Lowercase String: {lowercase_string}")

Enter a string:navya
Original String: navya
Uppercase String: NAVYA
Lowercase String: navya

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
input_string = input("Enter a string:")
character = input("Enter a character:")
count = input_string.count(character)
print(f"The character '{character}' appears {count} times in the input string.")

Enter a string:regression
Enter a character:r
The character 'r' appears 2 times in the input string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = input("Enter your name: ")
print("Hello, {name}! GoodMorning")

Enter your name: navya
Hello, {name}! GoodMorning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = 10
num2 = 20
sum = num1+num2
print(sum)

30

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = input("Enter your name: ")
age = int(input("Enter your age: "))
print(f"Hello, my name is {name} i am {age} years old.")

Enter your name: navya
Enter your age: 21
Hello, my name is navya i am 21 years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = int(input("Enter a number: "))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 23
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
maximum = max(num1,num2,num3)
print(f"The maximum number is: {maximum}")

Enter first number: 4
Enter second number: 7
Enter third number: 8
The maximum number is: 8

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input("Enter a year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

Enter a year: 2004
2004 is a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:
    print(f"{num} is divisible by both 3 and 5.")

Enter a number: 21

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
string = input("Enter a string: ")
if string == string[::-1]:
    print(f"{string} is a palindrome.")
else:
    print(f"{string} is not a palindrome.")

Enter a string: tree
tree is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,8):
    print(i)

1
2
3
4
5
6
7

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i = 1
while i <= 20:
    if i % 2 == 0:
        print(i)
    i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

Enter a number: 556
556 x 1 = 556
556 x 2 = 1112
556 x 3 = 1668
556 x 4 = 2224
556 x 5 = 2780
556 x 6 = 3336
556 x 7 = 3892
556 x 8 = 4448
556 x 9 = 5004
556 x 10 = 5560

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number: "))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1
print(f"The sum of all numbers from 1 to {n} is {sum}.")

Enter a number: 4
The sum of all numbers from 1 to 4 is 10.

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number: "))
factorial = 1
i = 1
while i <= num:
    factorial *= i
    i += 1
print(f"The factorial of {num} is {factorial}.")

Enter a number: 45
The factorial of 45 is 119622220865480194561963161495657715064383733760000000000.

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b = 0, 1
print("Fibonacci sequence:")
for i in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 5
Fibonacci sequence:
0 1 1 2 3

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
print("Prime numbers from 1 to 100:")
for num in range(1, 101):
        print(num, end=" ")

Prime numbers from 1 to 100:
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
for i in range(1,101):
    if i > 50:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i % 2 != 0:
    print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)
string = input("Enter a string: ")
character = input("Enter a character: ")
count = 0
for i in string:
    if i == character:
        count += 1
print(f"The character '{character}' appears {count} times in the string.")

Enter a string: navya
Enter a character: a
The character 'a' appears 2 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
num = int(input("Enter a number: "))
sum = 0
while num > 0:
    digit = num % 10
    sum += digit
    num //= 10
print(f"The sum of digits of the number is {sum}.")

Enter a number: 34
The sum of digits of the number is 7.

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
list = [1,2,3,4,5]
sum = 0
for i in list:
  sum += i
print(sum)

15

In [ ]:
# Write a Python program to find the largest element in a list.
list = [1,2,3,4,5]
largest = max(list)
print(largest)

5

In [ ]:
# Write a Python program to reverse a list.
list = [1,2,3,4,5]
reverse = list[::-1]
print(reverse)

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
list = [1,2,3,4,5]
element = 4
list.remove(element)
print(list)

[1, 2, 3, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
list = [1,2,3,4,5,6,7,8,9,10]
element = 6
index = list.index(element)
print(index)

5

In [ ]:
# Write a Python program to find if a specific element exists in a list.
list = [1,2,3,4,5]
element = 3
if element in list:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

3 exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
list = [1,2,3,3,4,5,7,5,6,5]
unique_list = (set(list))
print(unique_list)

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
list = [1,2,3,3,4,5,7,5,6,5]
element = 3
count = list.count(element)
print(count)

2

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in list:
  if i % 2 == 0:
    count += 1
print(count)

5

In [ ]:
# Write a Python program to create a tuple and print it.
tuple = (1,2,3,4,5)
print(tuple)

(1, 2, 3, 4, 5)

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa.

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
tuple = (1,2,3,4,5,6,7,8,9,10)
maximum = max(tuple)
minimum = min(tuple)
print("Minimum of the tuple:", min(tuple))
print("Maximum of the tuple:", max(tuple))

Minimum of the tuple: 1
Maximum of the tuple: 10

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1,2,3)
a,b,c = my_tuple
print(a)
print(b)
print(c)

1
2
3

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1,2,3,4,5}
my_set.add(6)
print(my_set)
element = 3
if element in my_set:
    print(f"{element} exists in the set.")

{1, 2, 3, 4, 5, 6}
3 exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['a']
print(value)

1

In [ ]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
key = 'b'
if key in my_dict:
    print(f"The key '{key}' exists in the dictionary.")

The key 'b' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5, 'f': 6}
print("Dictionary 1:", dict1)
print("Dictionary 2:", dict2)
dict1.update(dict2)
print("Merged Dictionary:", dict1)

Dictionary 1: {'a': 1, 'b': 2, 'c': 3}
Dictionary 2: {'d': 4, 'e': 5, 'f': 6}
Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [ ]:
# Write a Python program to remove a key from a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
del my_dict['a']
print(my_dict)

{'b': 2, 'c': 3}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {'a': 1, 'b': 2, 'c': 3}
num_keys = len(my_dict)
print(num_keys)

3

In [1]:
# Write a Python program to find the largest and smallest values in a dictionary.dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
dict = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
print("Original Dictionary:", dict)
largest_value = max(dict.values())
smallest_value = min(dict.values())
print("Largest Value:", largest_value)
print("Smallest Value:", smallest_value)

Original Dictionary: {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
Largest Value: 50
Smallest Value: 10

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [2]:
# Write a Python function that returns the square of a number.
def square(num):
    """
    Returns the square of a number.

    Args:
        num (int or float): The number to be squared.

    Returns:
        int or float: The square of the input number.
    """
    return num ** 2

# Example usage:
print(square(5))  # Output: 25
print(square(3.5))  # Output:Â 12.25

25
12.25

In [3]:
# Write a Python function that accepts two parameters and returns their sum.
num1 = 5
num2 = 7
def add_numbers(num1,num2):

    return num1 + num2
print(add_numbers(num1,num2))

12

In [4]:
# Write a Python function to check if a given number is prime.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

print(is_prime(7))
print(is_prime(10))

True
False

In [5]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))
print(factorial(0))

120
1

In [6]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent > 0:
        return base * power(base, exponent - 1)
    else:
        return 1 / (base * power(base, -exponent - 1))

print(power(2, 3))
print(power(3, -2))

8
0.1111111111111111

In [7]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for _ in lst:
        count += 1
    return count

my_list = [1, 2, 3, 4, 5]
print(list_length(my_list))

5

In [8]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_arguments(*args):
    total = 0
    for arg in args:
        total += arg
    return total

print(sum_positional_arguments(1, 2, 3, 4, 5))

15

In [9]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def find_maximum(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2

print(find_maximum(num1=5, num2=10))

10

In [10]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product
numbers = [1, 2, 3, 4, 5]
print(product_of_numbers(numbers))

120

In [11]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def is_even_or_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

print(is_even_or_odd(7))

Odd

In [12]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = [x for x in numbers if x % 2 == 0]
print(even_numbers)

[2, 4, 6, 8, 10]

In [14]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["apple", "banana", "cherry", "date", "elderberry"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['apple', 'banana', 'cherry', 'elderberry']

In [15]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
string = "Hello, World!"
uppercase_letters = [char for char in string if char.isupper()]
print(uppercase_letters)

['H', 'W']

In [17]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
n = 10
fibonacci = [0, 8]
[fibonacci.append(fibonacci[-1] + fibonacci[-2]) for _ in range(n - 2)]
print(fibonacci)

[0, 8, 8, 16, 24, 40, 64, 104, 168, 272]

In [18]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
squares = {x: x**2 for x in range(1, 6)}
print(squares)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [19]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ["a", "b", "c"]
values = [1, 2, 3]
my_dict = {key: value for key, value in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [20]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes = {x: x**3 for x in range(1, 6)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [21]:
# Write a Python program to square each element of a list using the map() function.
def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(square, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [22]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [23]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
print(is_divisible_by_3_and_5(15))

True

In [24]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [25]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_element(lst, elem):
    return [x for x in lst if x != elem]
numbers = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2
print("Original List:", numbers)
print("List after removing", element_to_remove, ":", remove_element(numbers, element_to_remove))

Original List: [1, 2, 3, 4, 2, 5, 2, 6]
List after removing 2 : [1, 3, 4, 5, 6]

**Note:**
- All assignments must follow [PEP 8 â Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`